@using Sitecore.Mvc

<p>Sample View Rendering output using <a href="http://www.w3schools.com/aspnet/razor_intro.asp">razor markup</a> follows...</p>

<h1>
    @Html.Sitecore().Field("title")
</h1>
<div>
    <p>@Html.Sitecore().Field("text")</p>
</div>

