<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderRendering>
        <processor type="Sitecore.Mvc.Contrib.Pipelines.Response.GenerateCustomCacheKey, Sitecore.Mvc.Contrib" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']"/>
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>
