<div class="well">
    <h2>Controller info</h2>
    <p>This controller shows a little bit of information about itself.</p>
    <dl>
        <dt>Rendering detail</dt>
        <dd><span class="label">@ViewBag.RenderingDetail</span></dd>
        <dt>Renderer type</dt>
        <dd><span class="label label-important">@ViewBag.RendererType</span></dd>
        <dt>IsChildAction</dt>
        <dd><span class="label label-important">@ViewBag.IsChildAction</span></dd>
    </dl>
</div>
