<h2>Controller info</h2>
<p>This controller shows a little bit of information about itself.</p>
<dl>
    <dt>IsChildAction</dt>
    <dd>@ViewBag.IsChildAction</dd>
    <dt>Rendering name</dt>
    <dd>@ViewBag.RenderingType</dd>
</dl>